@mixin small-typo {
    font-family: 'Jura', sans-serif;
    font-weight: 300;
}

@mixin medium-typo {
    font-family: 'Jura', sans-serif;
    font-weight: 500;
}

@mixin large-typo {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
}