body {
  background-color: darkgrey;
}

main {
  padding: 2rem;
}
div {
  border: 0.2rem solid black;
  border-radius: 1rem;
  margin: 0.4rem;
  margin-top: 1.4rem;
  padding: 1.4rem;
  @include medium-typo;
}

h3.title {
  font-size: 2.2rem;
  @include large-typo;
}

p.user {
  font-style: italic;

}
