h1 {
  @include large-typo;
  font-size: 4.2rem;
}

.logo-banner {
  background-color: lightgrey;
  text-align: center;
  padding: 2rem;
}

.nav-banner {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

button.btn-banner {
    align-items:center;
    border-radius: 5rem;
    border-style: hidden;
}

body {
  background-color: darkgrey;
  
}

main {
  padding: 2rem;
}
div {
  border: 0.2rem solid black;
  border-radius: 1rem;
  margin: 0.4rem;
  margin-top: 1.4rem;
  padding: 1.4rem;
}

h3 {
  background-color: yellow;
}