.btn {
    padding: 1.2rem 2rem;
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 700;
    background: $green;
    color: white;
    border-radius: 4rem;
    border: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}