button {
  border-radius: 5rem;
  border-style: hidden;
  color: rgb(0, 0, 0);
}

button:hover {
  color: white;
  background-color: darkgreen;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  color: darkgreen;
  background-color: white;
  border-radius: 5rem;
  border-style: hidden;

  &:hover {
    color: white;
    background-color: darkgreen;
  }
}
