.hikes {

}

    .hikes__item {
        box-shadow: 0 5px 15px rgba(black,0.1);
        margin-bottom: 3rem;
    }

        .hikes__picture {
            position: relative;

            &:not(.col-sm-3) {
                .hikes__img {
                    height: 400px;
                }
            }
        }

            .hikes__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .hikes__date {
                position: absolute;
                left: 1.5rem;
                bottom: 1.5rem;
                border-radius: 3rem;
                padding: 1rem 2rem;
                background: rgba(white,0.5);
                color: $text-color;
                font-size: 1.4rem;
                z-index: 2;
            }

        .hikes__content {
            padding : 2rem 2rem 2rem 1rem;
            display: flex;
            flex-direction: column;

            &:not(.col-sm-3) {
                padding: 3rem;
            }
        }

            .hikes__title {
                font-size: 2.1rem;
                margin-bottom: 0.5rem;
            }

            .hikes__user {
                color: lighten($text-color,20);
                margin-bottom: 1rem;
            }

            .hikes__location {
                color: green;
            }

            .hikes__description {
                margin: 2rem 0;
            }

            .hikes__meta {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 1.4rem;
                margin: 1rem 0 2rem;
            }

                .hikes__meta-value {
                    margin-right: 1rem;
                }

            .hikes__bottom {
                margin-top: auto;
                align-items: flex-end;
            }