.container {
  max-width: 118rem;
  padding-left : 2rem;
  padding-right : 2rem;
  margin: 0 auto;

  &--small {
    max-width: 50rem;
  }
}

main {
  padding: 4rem 0 6rem;

  @media all and (max-width: 768px) {
    padding: 2rem 0 4rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.box {
  padding: 3rem;
  border: 1px solid $border-color;
  margin: 2rem 0;

  li {
    margin-top: 1rem;
  }
}