/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans-700.woff2") format("woff2"), url("../fonts/MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: "Museo Sans", "serif";
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
}

h3 {
  font-weight: 700;
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
  font-weight: 700;
}

.title-page {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media all and (max-width: 768px) {
  .title-page {
    font-size: 2.4rem;
  }
}

form {
  max-width: 64rem;
  margin: 0 auto;
  padding: 4rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 768px) {
  form {
    padding: 2rem;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
}

label {
  display: block;
  font-weight: 500;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=number],
input[type=search] {
  border: 1px solid #E3E3E3;
  padding: 1.2rem 1rem;
  width: 100%;
  font-family: "Museo Sans";
}

input[type=submit],
button[type=submit] {
  padding: 1.2rem 2rem;
  font-family: "Museo Sans";
  font-size: 1.6rem;
  font-weight: 700;
  background: rgb(9, 172, 58);
  color: white;
  border-radius: 4rem;
  border: 0;
  width: 100%;
  text-align: center;
}

.form-row {
  margin-bottom: 2rem;
}

.container {
  max-width: 118rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
.container--small {
  max-width: 50rem;
}

main {
  padding: 4rem 0 6rem;
}
@media all and (max-width: 768px) {
  main {
    padding: 2rem 0 4rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.box {
  padding: 3rem;
  border: 1px solid #E3E3E3;
  margin: 2rem 0;
}
.box li {
  margin-top: 1rem;
}

.header {
  padding: 2rem 0;
  position: relative;
}
.header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #CBEAFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.header::after {
  content: "";
  height: 306px;
  width: 100%;
  background: url(../img/clouds.png) no-repeat;
  background-size: 3600px 306px;
  -webkit-animation: cloud-in-out 60s linear infinite;
          animation: cloud-in-out 60s linear infinite;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media all and (max-width: 767px) {
  .header::after {
    height: 204px;
    background-size: 2400px 204px;
    -webkit-animation: cloud-in-out-mobile 60s linear infinite;
            animation: cloud-in-out-mobile 60s linear infinite;
  }
}

.header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E1E1E;
  font-weight: 500;
}
.header__link img {
  margin-right: 1rem;
}

.header__logo {
  text-align: center;
}

@-webkit-keyframes cloud-in-out {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3600px 0;
  }
}

@keyframes cloud-in-out {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3600px 0;
  }
}
@-webkit-keyframes cloud-in-out-mobile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2400px 0;
  }
}
@keyframes cloud-in-out-mobile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2400px 0;
  }
}
.alert {
  background: grey;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.5rem;
}
.alert--danger {
  background-color: rgb(208, 43, 34);
}
.alert--succes {
  background-color: rgb(9, 172, 58);
}
.alert--warning {
  background-color: orange;
}

.btn {
  padding: 1.2rem 2rem;
  font-family: "Museo Sans";
  font-size: 1.6rem;
  font-weight: 700;
  background: rgb(9, 172, 58);
  color: white;
  border-radius: 4rem;
  border: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.hikes__item {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.hikes__picture {
  position: relative;
}
.hikes__picture:not(.col-sm-3) .hikes__img {
  height: 400px;
}

.hikes__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hikes__date {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  color: #1E1E1E;
  font-size: 1.4rem;
  z-index: 2;
}

.hikes__content {
  padding: 2rem 2rem 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hikes__content:not(.col-sm-3) {
  padding: 3rem;
}

.hikes__title {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.hikes__user {
  color: #515151;
  margin-bottom: 1rem;
}

.hikes__location {
  color: green;
}

.hikes__description {
  margin: 2rem 0;
}

.hikes__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin: 1rem 0 2rem;
}

.hikes__meta-value {
  margin-right: 1rem;
}

.hikes__bottom {
  margin-top: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

a {
  text-decoration: none;
  color: #739ebe;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link {
  color: #1E1E1E;
  border-bottom: 1px solid #739ebe;
  padding-bottom: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link:hover {
  border-bottom-color: transparent;
}

.user-nav {
  position: relative;
  text-align: right;
  display: inline-block;
}
.user-nav:hover .user-nav__list {
  display: block;
}

@media all and (max-width: 768px) {
  .user-nav__toggle {
    pointer-events: none;
  }
  .user-nav__toggle span {
    display: none;
  }
}

.user-nav__list {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  font-size: 1.4rem;
  z-index: 2;
  min-width: 200px;
}

.user-nav__item:not(:last-child) {
  border-bottom: 1px solid #E3E3E3;
}
.user-nav__item:first-child .user-nav__link {
  border-radius: 5px 5px 0 0;
}
.user-nav__item:last-child .user-nav__link {
  border-radius: 0 0 5px 5px;
}

.user-nav__link {
  text-align: center;
  background: white;
  color: #1E1E1E;
  display: block;
  padding: 1rem;
}
.user-nav__link:hover {
  color: white;
  background: #739ebe;
}

li {
  list-style: none;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}
.tags > * {
  margin: 0.5rem 1rem 0.5rem 0;
}

.tags__link {
  border-radius: 30px;
  padding: 1rem 2rem;
  min-width: 100px;
  border: 1px solid #e3e3e3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  color: #1E1E1E;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}
.tags__link:hover {
  background: #739ebe;
  color: white;
}
@media all and (max-width: 768px) {
  .tags__link {
    font-size: 1.3rem;
    padding: 0.75rem 1rem;
    min-width: inherit;
  }
}

.tags--small {
  margin: 0;
}
.tags--small .tags__link {
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
}

.form-user {
  max-width: 50rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
}

.row-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  width: calc(100% + 0);
}

.col-1 {
  width: calc(100% / 12 * 1 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12 - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.coln-12 {
  width: calc(100% / 12 * 12);
}

@media all and (min-width: 560px) {
  .col-sm-1 {
    width: calc(100% / 12 * 1 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-1 {
    width: calc(100% / 12 * 1);
  }
  .col-sm-2 {
    width: calc(100% / 12 * 2 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-2 {
    width: calc(100% / 12 * 2);
  }
  .col-sm-3 {
    width: calc(100% / 12 * 3 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-3 {
    width: calc(100% / 12 * 3);
  }
  .col-sm-4 {
    width: calc(100% / 12 * 4 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-4 {
    width: calc(100% / 12 * 4);
  }
  .col-sm-5 {
    width: calc(100% / 12 * 5 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-5 {
    width: calc(100% / 12 * 5);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-6 {
    width: calc(100% / 12 * 6);
  }
  .col-sm-7 {
    width: calc(100% / 12 * 7 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-7 {
    width: calc(100% / 12 * 7);
  }
  .col-sm-8 {
    width: calc(100% / 12 * 8 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-8 {
    width: calc(100% / 12 * 8);
  }
  .col-sm-9 {
    width: calc(100% / 12 * 9 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-9 {
    width: calc(100% / 12 * 9);
  }
  .col-sm-10 {
    width: calc(100% / 12 * 10 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-10 {
    width: calc(100% / 12 * 10);
  }
  .col-sm-11 {
    width: calc(100% / 12 * 11 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-11 {
    width: calc(100% / 12 * 11);
  }
  .col-sm-12 {
    width: calc(100% / 12 * 12 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-sm-12 {
    width: calc(100% / 12 * 12);
  }
}
@media all and (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 12 * 1 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-1 {
    width: calc(100% / 12 * 1);
  }
  .col-md-2 {
    width: calc(100% / 12 * 2 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-2 {
    width: calc(100% / 12 * 2);
  }
  .col-md-3 {
    width: calc(100% / 12 * 3 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-3 {
    width: calc(100% / 12 * 3);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-4 {
    width: calc(100% / 12 * 4);
  }
  .col-md-5 {
    width: calc(100% / 12 * 5 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-5 {
    width: calc(100% / 12 * 5);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-7 {
    width: calc(100% / 12 * 7 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-7 {
    width: calc(100% / 12 * 7);
  }
  .col-md-8 {
    width: calc(100% / 12 * 8 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-8 {
    width: calc(100% / 12 * 8);
  }
  .col-md-9 {
    width: calc(100% / 12 * 9 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-9 {
    width: calc(100% / 12 * 9);
  }
  .col-md-10 {
    width: calc(100% / 12 * 10 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-10 {
    width: calc(100% / 12 * 10);
  }
  .col-md-11 {
    width: calc(100% / 12 * 11 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-11 {
    width: calc(100% / 12 * 11);
  }
  .col-md-12 {
    width: calc(100% / 12 * 12 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-md-12 {
    width: calc(100% / 12 * 12);
  }
}
@media all and (min-width: 980px) {
  .col-lg-1 {
    width: calc(100% / 12 * 1 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-1 {
    width: calc(100% / 12 * 1);
  }
  .col-lg-2 {
    width: calc(100% / 12 * 2 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-2 {
    width: calc(100% / 12 * 2);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-3 {
    width: calc(100% / 12 * 3);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-5 {
    width: calc(100% / 12 * 5 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-5 {
    width: calc(100% / 12 * 5);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-7 {
    width: calc(100% / 12 * 7 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-7 {
    width: calc(100% / 12 * 7);
  }
  .col-lg-8 {
    width: calc(100% / 12 * 8 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-8 {
    width: calc(100% / 12 * 8);
  }
  .col-lg-9 {
    width: calc(100% / 12 * 9 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-9 {
    width: calc(100% / 12 * 9);
  }
  .col-lg-10 {
    width: calc(100% / 12 * 10 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-10 {
    width: calc(100% / 12 * 10);
  }
  .col-lg-11 {
    width: calc(100% / 12 * 11 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-11 {
    width: calc(100% / 12 * 11);
  }
  .col-lg-12 {
    width: calc(100% / 12 * 12 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-lg-12 {
    width: calc(100% / 12 * 12);
  }
}
@media all and (min-width: 1140px) {
  .col-xl-1 {
    width: calc(100% / 12 * 1 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-1 {
    width: calc(100% / 12 * 1);
  }
  .col-xl-2 {
    width: calc(100% / 12 * 2 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-2 {
    width: calc(100% / 12 * 2);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-3 {
    width: calc(100% / 12 * 3);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-5 {
    width: calc(100% / 12 * 5 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-5 {
    width: calc(100% / 12 * 5);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-7 {
    width: calc(100% / 12 * 7 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-7 {
    width: calc(100% / 12 * 7);
  }
  .col-xl-8 {
    width: calc(100% / 12 * 8 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-8 {
    width: calc(100% / 12 * 8);
  }
  .col-xl-9 {
    width: calc(100% / 12 * 9 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-9 {
    width: calc(100% / 12 * 9);
  }
  .col-xl-10 {
    width: calc(100% / 12 * 10 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-10 {
    width: calc(100% / 12 * 10);
  }
  .col-xl-11 {
    width: calc(100% / 12 * 11 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-11 {
    width: calc(100% / 12 * 11);
  }
  .col-xl-12 {
    width: calc(100% / 12 * 12 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .coln-xl-12 {
    width: calc(100% / 12 * 12);
  }
}
@media (max-width: 1140px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (max-width: 980px) {
  .hidden-mlg-down {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .hidden-md-down {
    display: none !important;
  }
  .text-md-center {
    text-align: center;
  }
}
@media (max-width: 560px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 1140px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (min-width: 980px) {
  .hidden-mlg-up {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (min-width: 560px) {
  .hidden-sm-up {
    display: none !important;
  }
}
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}/*# sourceMappingURL=main.css.map */