form {
    max-width: 64rem;
    margin: 0 auto;
    padding: 4rem;
    box-shadow: 0 5px 15px rgba(black,0.1);

    @media all and (max-width: 768px) { 
        padding: 2rem;
        box-shadow: 0 0 0;
    }
}

label {
    display: block;
    font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"] {
    border: 1px solid $border-color;
    padding: 1.2rem 1rem;
    width: 100%;
    font-family: $font-body;
}

input[type="submit"],
button[type="submit"] {
    padding: 1.2rem 2rem;
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 700;
    background: $green;
    color: white;
    border-radius: 4rem;
    border: 0;
    width: 100%;
    text-align: center;
}

.form-row {
    margin-bottom: 2rem;
}   